
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" 用户自定义配置（该文件放一般性配置，可覆盖~/.vimrc里的配置，若要增加、卸载插件，请放入~/.vimrc.custom.plugins）
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
set wrap
set tabstop=2
" 开启相对行号
" set relativenumber  

" 开启鼠标
" set mouse=a

" 设置光标所在列高亮
" set cursorcolumn

" indentLine 开启代码对齐线
" let g:indentLine_enabled = 1

" markdown
" let system = system('uname -s')
" if system == "Darwin\n"
"     let g:mkdp_path_to_chrome = "/Applications/Google\\ Chrome.app/Contents/MacOS/Google\\ Chrome"
" else
"     let g:mkdp_path_to_chrome = '/usr/bin/google-chrome-stable %U'
" endif
" nmap <silent> <F7> <Plug>MarkdownPreview
" imap <silent> <F7> <Plug>MarkdownPreview
" nmap <silent> <F8> <Plug>StopMarkdownPreview
" imap <silent> <F8> <Plug>StopMarkdownPreview

" Doxygen
" let g:DoxygenToolkit_authorName="chxuan, 787280310@qq.com"
" let s:licenseTag = "Copyright(C)\<enter>"
" let s:licenseTag = s:licenseTag . "For free\<enter>"
" let s:licenseTag = s:licenseTag . "All right reserved\<enter>"
" let g:DoxygenToolkit_licenseTag = s:licenseTag
" let g:DoxygenToolkit_briefTag_funcName="yes"
" let g:doxygen_enhanced_color=1
" let g:DoxygenToolkit_commentType="Qt"
"
inoremap ,/ <c-x><c-f>

nmap <leader>a :UndotreeToggle<cr>
set undodir=/home/yang/.undodir/
set undofile
inoremap <leader><leader>i <esc>^i
inoremap <leader><leader>a <esc>A
inoremap <leader><leader>o <esc>o
inoremap <leader><leader>d <esc>ddo
inoremap <leader><leader>s <esc>:w<cr>
inoremap <leader>t \e[1;33m  \e[0m<esc>F i

inoremap jj <esc>

nnoremap <leader>< <c-w>5<
nnoremap <leader>> <c-w>5>
nnoremap <leader>= <c-w>=
nnoremap <leader>+ <c-w>5+
nnoremap <leader>- <c-w>5-



autocmd Filetype vim vnoremap \\ :s/^/"/g<cr>:nohl<cr>
autocmd Filetype python vnoremap \\ :s/^/#/g<cr>:nohl<cr>
autocmd Filetype sh vnoremap \\ :s/^/#/g<cr>:nohl<cr>

" colorscheme default 
" colorscheme morning
" colorscheme murphy
colorscheme gruvbox


" -- Goyo --

" nnoremap <leader>gy :Goyo 75%x75%<CR>
nnoremap <leader>gy :Goyo<CR>
"g:goyo_width (default: 80)
let g:goyo_width='75%'
"g:goyo_height (default: 85%)
let g:goyo_height='75%'
"g:goyo_linenr (default: 0)
let g:goyo_linenr=0

" -- LeaderF --
nnoremap <leader>f :LeaderfFile /home/yang<cr>
nnoremap <leader>m :LeaderfMru <cr>

" -- vim-table-mode --
nnoremap <leader>tm :TableModeToggle <cr>
inoremap <leader>\ <esc> f\|a


" -- MarkDown --
"autocmd Filetype markdown map <leader>w yiWi[<esc>Ea](<esc>pa)
autocmd Filetype markdown inoremap <leader>f <Esc>/<++><CR>:nohlsearch<CR>"_c4l
autocmd Filetype markdown inoremap <leader>w <Esc>/ <++><CR>:nohlsearch<CR>"_c5l<CR>
autocmd Filetype markdown inoremap <leader>n ---<Enter><Enter>
autocmd Filetype markdown inoremap <leader>b **** <++><Esc>F*hi
autocmd Filetype markdown inoremap <leader>s ~~~~ <++><Esc>F~hi
autocmd Filetype markdown inoremap <leader>i ** <++><Esc>F*i
autocmd Filetype markdown inoremap <leader>d `` <++><Esc>F`i
autocmd Filetype markdown inoremap <leader>c ```<Enter><++><Enter>```<Enter><Enter><++><Esc>4kA
autocmd Filetype markdown inoremap <leader>m - [ ] 
autocmd Filetype markdown inoremap <leader>p ![](<++>) <++><Esc>F[a
autocmd Filetype markdown inoremap <leader>a [](<++>) <++><Esc>F[a
autocmd Filetype markdown inoremap <leader>1 #<Space><Enter><++><Esc>kA
autocmd Filetype markdown inoremap <leader>2 ##<Space><Enter><++><Esc>kA
autocmd Filetype markdown inoremap <leader>3 ###<Space><Enter><++><Esc>kA
autocmd Filetype markdown inoremap <leader>4 ####<Space><Enter><++><Esc>kA
autocmd Filetype markdown inoremap <leader>l <esc>0i-<esc>yl58po<enter>
autocmd Filetype markdown inoremap .. <esc>@pi

"let g:SuperTabRetainCompletionType = 2
"let g:SuperTabDefaultCompletionType = "<C-X><C-O>" 
"let g:dym_use_fzf = 1
"

"let g:pydiction_location = '~/.vim/tools/pydiction/complete-dict'


